<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<div th:replace="fragments::css"></div>-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link href="../static/css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet" type="text/css"/>
  <title>Login</title>
</head>
<body class="text-center">

<div class="container">

  <div th:if="${param.error}">
    Invalid username and password.
  </div>
  <div th:if="${param.logout}">l
    You have been logged out.
  </div>

  <form class="form-signin" th:action="/j_spring_security_check" method="post"> <!--th:action="@{/login}"-->
    <!--<img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="email" class="sr-only">Email address</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="" autofocus="">

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>

</div>

</body>
</html>