<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <div th:replace="fragments::css"></div>
  <title>Show Item</title>
</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container">
  <div class="starter-template">

    <div>
      <form th:action="|/items/${item.id}|" th:method="put" th:object="${item}">
        <fieldset>
          <legend>Show Item</legend>
          <!--Text input Name-->
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control validation" id="name" name="name" th:field="*{name}"
                   placeholder="Enter item's name" required title="3 to 100 characters"
                   pattern=".{3,100}">
          </div>
          <!--Text input Description-->
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3"
                      th:field="*{description}" placeholder="Enter description of the problem"
                      required=""></textarea>
          </div>

          <!--Text input Button-->
          <button type="submit" class="btn btn-primary">Edit</button>
          <button type="Reset" class="btn btn-primary">Reset</button>
        </fieldset>
      </form>
    </div>

  </div>
</div>

<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: js"></div>

</body>
</html>